# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code / IDE
.vscode/
.idea/
*.iml

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db